<section class="navbar">
 <img  class="logo" src="assets/img/cat.png" alt="">
 <div class="butoes">
  <h3 class="login">LOGIN</h3>
  <h3 class="registro">REGISTRAR</h3>
 </div>
</section>
 <main>
<div>
    <img src="assets/img/cat01.jpg" alt="">
    <img src="assets/img/cat02.jpg" alt="">
    <img src="assets/img/cat05.jpg"style="width: 600px; height: 960px;" alt="">
</div>
<div>
    <img src="assets/img/cat11.jpg" style="width: 950px;" height="840px" alt="">
    <img src="assets/img/cat08.jpg"style="width: 935px;" height="840px"  alt="">
</div>
<div>
   <img src="assets/img/cat04.jpg" style="width: 1890px;"  height="900px" alt="">
</div>
<div>
    <img src="assets/img/cat12.jpg" alt="">
    <img src="assets/img/cat09.jpg" alt="">
    <img src="assets/img/cat06.jpg" style="width: 602px; height: 960px;"  alt="">
</div>
<div>
    <img src="assets/img/cat03.jpg" style="width: 952px;" height="800px" alt="">
    <img src="assets/img/cat13.jpg" style="width: 934px;" height="800px" alt="">
</div>
<div>
    <img src="assets/img/cat07.jpg" style="width: 1889px;" height="900px" alt="">
</div>
</main>
<footer>Todos os direitos reservados ©</footer>